body {
	background-image: url("../../images/bg.jpg");
	background-size: cover;
	color: white;
	font-family: "Arial", sans;
	margin: auto;
	width: 70%;
}

.header {
	margin: auto;
	padding: 5%;
	text-align: center;
	width: 50%;
}

.avatar {
	border-radius: 50%;
	display: block;
	margin: auto;
}
