---
layout: default
---

    <h1>{{ page.title | escape }}</h1>
    {% assign titleLowercased = page.title | downcase %}{% assign numberOfPosts = site.posts | where:"category",titleLowercased | size %}<small>{{ numberOfPosts }} {% if numberofPosts > 1 %}posts{% else %}post{% endif %}</small>  
    {{ content }}
    <br /><br />
    {% for post in site.posts %}{% if post.categories contains titleLowercased %}<div class="post">
        <h2>{{ post.title | escape }}</h2>
        <small>{{ post.date | date: '%d %B %Y' }}</small>
        {{ post.content }}
    </div>{% else %}{% endif %}{% endfor %}