---
layout: default
---
    <div class="hero">
        <img 
            class="avatar"
            src="/images/avatar.jpg"
            alt="My face"
        />
        <h1>Sam Rimington</h1>
        <h2>
            Software engineer at <a href="https://www.reygar.co.uk">Reygar</a>.<br/>
            Former intern at <a href="https://www.bsquare.com/">Bsquare</a>.<br/>
            <a href="https://cs.york.ac.uk/">University of York CS</a> graduate.
        </h2>
    </div>
    <ul class="links">
        <li><a href="https://www.github.com/samrimington">
            <img alt="GitHub" src="images/github_icon.png" />
            samrimington
        </a></li>
        <li><a href="https://www.linkedin.com/in/samrimington">
            <img alt="LinkedIn" src="images/linkedin_icon.png" />
            samrimington
        </a></li>
        <li><a href="https://www.twitter.com/samrimington">
            <img alt="Twitter" src="images/twitter_icon.png" />
            @samrimington
        </a></li>
    </ul>
